@font-face {
  font-family: Arual;
  src: local(bttf_font), url('../fonts/Arual.ttf') format('opentype');
}

body {
  background-color: #000000;
}

#title {
  font-family: Arual, serif;
  width: 100%;
  padding-top: 8%;
  padding-bottom: 6%;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.quote {
  width: 100%;
  color: #ffffff;
  margin-top: 1em;
  font-size: 1.5em;
}

.container {
  width: auto;
}

.contain {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  height: 27em;
  margin-top: 8%;
  display: inline-flex;
}

.left-block {
  height: 27em;
  width: 70%;
}

.right-block {
  height: 27em;
  margin-left: 1em;
}

.sfw-content {
  font-family: Courier, serif;
  padding-left: 2em;
}

.nsfw-content {
  font-family: Courier, serif;
  padding-left: 2em;
}

#news {
  height: 100%;
}

a {
  color: inherit;
}

iframe {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 30em;
}

a:hover {
  background-color: #b1a8a7;
  color: inherit;
  text-decoration: none;
}

.item {
  height: 7em;
}

i {
  padding-left: 0.5em;
}

.liner {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 1em;
  color: #ffffff;
  font-family: "Orbitron", Times, sans-serif;
}

img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.main-block {
  background-color: #ffffff;
  height: 17em;
}
